In [1]:
import numpy as np
import pandas as pd
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms
import statsmodels.api as sm
from statsmodels.compat import lzip

In [2]:
data = pd.read_excel('raw data final.xlsx')

In [3]:
data

,Date,BANK,ChangeBANK,IT,ChangeIT,YIELD,ChangeYIELD,YIELD1,ChangeYIELD1
0,2010-01-01,8651.55,-0.0419,5594.15,-0.0385,7.154,-0.0154,8.278,0.0385
1,2010-02-01,8722.75,0.0082,5766.70,0.0308,7.343,0.0264,8.384,0.0128
2,2010-03-01,9459.60,0.0845,5855.95,0.0155,7.306,-0.0050,8.288,-0.0115
3,2010-04-01,9870.35,0.0434,5985.80,0.0222,7.433,0.0174,8.417,0.0156
4,2010-05-01,9363.70,-0.0513,5761.95,-0.0374,7.413,-0.0027,8.160,-0.0305
...,...,...,...,...,...,...,...,...,...
115,2019-08-01,27427.85,-0.0502,16010.40,0.0250,6.366,0.0103,6.918,0.0124
116,2019-09-01,29103.15,0.0611,15540.15,-0.0294,6.470,0.0163,7.075,0.0227
117,2019-10-01,30066.25,0.0331,15559.40,0.0012,6.287,-0.0283,6.915,-0.0226
118,2019-11-01,31946.10,0.0625,14998.05,-0.0361,6.252,-0.0056,7.056,0.0204
119,2019-12-01,32161.65,0.0067,15652.40,0.0436,6.477,0.0360,7.038,-0.0026

In [5]:
import datetime as dt
data["Date"]=pd.to_datetime(data["Date"])
data['Year'] =data["Date"].dt.year
data['Month'] =data["Date"].dt.month
data['Day'] =data["Date"].dt.day
data['Date'] = [dt.date() for dt in data['Date']]

In [6]:
data

,Date,BANK,ChangeBANK,IT,ChangeIT,YIELD,ChangeYIELD,YIELD1,ChangeYIELD1,Year,Month,Day
0,2010-01-01,8651.55,-0.0419,5594.15,-0.0385,7.154,-0.0154,8.278,0.0385,2010,1,1
1,2010-02-01,8722.75,0.0082,5766.70,0.0308,7.343,0.0264,8.384,0.0128,2010,2,1
2,2010-03-01,9459.60,0.0845,5855.95,0.0155,7.306,-0.0050,8.288,-0.0115,2010,3,1
3,2010-04-01,9870.35,0.0434,5985.80,0.0222,7.433,0.0174,8.417,0.0156,2010,4,1
4,2010-05-01,9363.70,-0.0513,5761.95,-0.0374,7.413,-0.0027,8.160,-0.0305,2010,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...
115,2019-08-01,27427.85,-0.0502,16010.40,0.0250,6.366,0.0103,6.918,0.0124,2019,8,1
116,2019-09-01,29103.15,0.0611,15540.15,-0.0294,6.470,0.0163,7.075,0.0227,2019,9,1
117,2019-10-01,30066.25,0.0331,15559.40,0.0012,6.287,-0.0283,6.915,-0.0226,2019,10,1
118,2019-11-01,31946.10,0.0625,14998.05,-0.0361,6.252,-0.0056,7.056,0.0204,2019,11,1
119,2019-12-01,32161.65,0.0067,15652.40,0.0436,6.477,0.0360,7.038,-0.0026,2019,12,1

In [8]:
X=data.drop(['Date'], axis = 1)

In [12]:
X

,BANK,ChangeBANK,IT,ChangeIT,YIELD,ChangeYIELD,YIELD1,ChangeYIELD1,Year,Month,Day
0,8651.55,-0.0419,5594.15,-0.0385,7.154,-0.0154,8.278,0.0385,2010,1,1
1,8722.75,0.0082,5766.70,0.0308,7.343,0.0264,8.384,0.0128,2010,2,1
2,9459.60,0.0845,5855.95,0.0155,7.306,-0.0050,8.288,-0.0115,2010,3,1
3,9870.35,0.0434,5985.80,0.0222,7.433,0.0174,8.417,0.0156,2010,4,1
4,9363.70,-0.0513,5761.95,-0.0374,7.413,-0.0027,8.160,-0.0305,2010,5,1
...,...,...,...,...,...,...,...,...,...,...,...
115,27427.85,-0.0502,16010.40,0.0250,6.366,0.0103,6.918,0.0124,2019,8,1
116,29103.15,0.0611,15540.15,-0.0294,6.470,0.0163,7.075,0.0227,2019,9,1
117,30066.25,0.0331,15559.40,0.0012,6.287,-0.0283,6.915,-0.0226,2019,10,1
118,31946.10,0.0625,14998.05,-0.0361,6.252,-0.0056,7.056,0.0204,2019,11,1
119,32161.65,0.0067,15652.40,0.0436,6.477,0.0360,7.038,-0.0026,2019,12,1

In [14]:
train = ['ChangeYIELD1']
predict = ['ChangeBANK']
X_ = X[train]
y_=X[predict]

In [15]:
x = sm.add_constant(X_)
pred = sm.OLS(y_,x).fit()

In [16]:
print(pred.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             ChangeBANK   R-squared:                       0.106
Model:                            OLS   Adj. R-squared:                  0.098
Method:                 Least Squares   F-statistic:                     13.92
Date:                Sun, 15 May 2022   Prob (F-statistic):           0.000295
Time:                        15:57:18   Log-Likelihood:                 157.55
No. Observations:                 120   AIC:                            -311.1
Df Residuals:                     118   BIC:                            -305.5
Df Model:                           1
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const            0.0123      0.006      2.059      0.042       0.000       0.024
ChangeYIELD1    -0.8630      0.231     -3.731      0.000      -1.321      -0.405
==============================================================================
Omnibus:                        1.774   Durbin-Watson:                   1.993
Prob(Omnibus):                  0.412   Jarque-Bera (JB):                1.264
Skew:                           0.188   Prob(JB):                        0.532
Kurtosis:                       3.334   Cond. No.                         38.6
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [17]:
train = ['ChangeYIELD']
predict = ['ChangeIT']
X_ = X[train]
y_=X[predict]

In [18]:
x = sm.add_constant(X_)
pred = sm.OLS(y_,x).fit()

In [19]:
print(pred.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               ChangeIT   R-squared:                       0.118
Model:                            OLS   Adj. R-squared:                  0.111
Method:                 Least Squares   F-statistic:                     15.83
Date:                Sun, 15 May 2022   Prob (F-statistic):           0.000120
Time:                        15:59:04   Log-Likelihood:                 183.18
No. Observations:                 120   AIC:                            -362.4
Df Residuals:                     118   BIC:                            -356.8
Df Model:                           1
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const           0.0102      0.005      2.099      0.038       0.001       0.020
ChangeYIELD     0.6335      0.159      3.978      0.000       0.318       0.949
==============================================================================
Omnibus:                        1.076   Durbin-Watson:                   2.415
Prob(Omnibus):                  0.584   Jarque-Bera (JB):                0.956
Skew:                          -0.218   Prob(JB):                        0.620
Kurtosis:                       2.960   Cond. No.                         32.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.